<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>

  <script src="https://kit.fontawesome.com/caa741fcc6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="/">
          <i class="fa-solid fa-utensils"></i>
          {{#if isAuthenticated}}
          {{user.name}}'s
          {{/if}}
          餐廳清單 
        </a>
        {{#if isAuthenticated}}
        <div class="d-flex flex-end">
          <a href="/restaurants/new" class="btn btn-major me-3"><i class="fa-solid fa-circle-plus me-2"></i>Add</a>
          <a href="/users/logout" class="btn btn btn-major">Logout</a>
          </div>
        {{else}}
          <a href="/users/login" class="btn btn btn-major">Login</a>
        {{/if}}
      </div>
    </nav>
    
    <div class="banner"></div>
  {{{ body }}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>